<app-loader *ngIf="isLoading"></app-loader>

<div *ngIf="!isLoading" class="row justify-content-center px-3 h-100 change-container change-page-background">
  <div class="col col-lg-6 col-xl-4 change-width">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-12 text-left text-lg-center pt-3">
          <h1 class="change-title">Change Password</h1>
        </div>
        <div class="col-12 text-left text-lg-center pt-3">
          <h4 class="change-subtitle">
            <a class="back-link" (click)="onBack()">
              <span>
                <img class="back-icon" src="../../../assets/images/chevron.svg" alt="Login">
                  Login
              </span>
            </a>
        </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center pt-4">
          <div class="change-field">
            <span class="field-title">Old Password</span>
            <div class="field-input"
              [ngClass]="{ 'invalid-error-box': !form.get('oldPassword').valid
              && form.get('oldPassword')?.touched}">
              <mat-form-field appearance="outline" class="w-100">
                <span matPrefix><img class="input-icon" src="../../../assets/images/lock.svg"></span>
                <input matInput [type]="!isOldPasswordShown ? 'password' : 'text'" placeholder="Old Password" formControlName="oldPassword" required maxlength="50"/>
                <span matSuffix><button mat-icon-button (click)="isOldPasswordShown = !isOldPasswordShown"><img class="input-icon" src="../../../assets/images/eye.svg"></button></span>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-12 d-flex justify-content-center pt-4 pb-2 pb-lg-0">
          <div class="change-field">
            <span class="field-title">New Password</span>
            <div class="field-input"
              [ngClass]="{ 'invalid-error-box': !form.get('newPassword').valid
              && form.get('newPassword')?.touched}">
              <mat-form-field appearance="outline" class="w-100">
                <span matPrefix><img class="input-icon" src="../../../assets/images/lock.svg"></span>
                <input matInput [type]="!isNewPasswordShown ? 'password' : 'text'" placeholder="New Password" formControlName="newPassword" required maxlength="50"/>
                <span matSuffix><button mat-icon-button (click)="isNewPasswordShown = !isNewPasswordShown"><img class="input-icon" src="../../../assets/images/eye.svg"></button></span>
                <mat-hint> {{ ValidationRules.PASSWORD_HINT }} </mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-center pt-5">
          <div class="change-field">
            <span class="field-title">Repeat New Password</span>
            <div class="field-input"
              [ngClass]="{ 'invalid-error-box': !form.get('repeatNewPassword').valid
              && form.get('repeatNewPassword')?.touched}">
              <mat-form-field appearance="outline" class="w-100">
                <span matPrefix><img class="input-icon" src="../../../assets/images/lock.svg"></span>
                <input matInput [type]="!isRepeatNewPasswordShown ? 'password' : 'text'" placeholder="Repeat New Password" formControlName="repeatNewPassword" required maxlength="50"/>
                <span matSuffix><button mat-icon-button (click)="isRepeatNewPasswordShown = !isRepeatNewPasswordShown"><img class="input-icon" src="../../../assets/images/eye.svg"></button></span>
                <mat-error *ngIf="form.get('repeatNewPassword').errors?.passwords">
                  {{ form.get('repeatNewPassword').errors?.passwords }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-center pt-4">
          <button #btnChangePassword mat-raised-button class="change-button" (click)="changePassword()">Change Password</button>
        </div>
      </div>
    </form>
  </div>
</div>
