<app-loader *ngIf="isLoading"></app-loader>

<div *ngIf="!isLoading && !isMfaCodePage" class="row justify-content-center px-3 h-100 restore-password-container restore-page-background">
  <div class="col col-lg-6 col-xl-4 restore-width">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-12 text-left text-lg-center pt-3">
          <h1 class="restore-title">Restore Password</h1>
        </div>
        <div class="col-12 text-left pt-3">
          <h4 class="restore-subtitle">
            <a class="back-link" (click)="onBack()">
              <span>
                <img class="back-icon" src="../../../assets/images/chevron.svg" alt="Login">
                  Login
              </span>
            </a>
        </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center pt-5">
          <div class="restore-field">
            <span class="field-title">Email</span>
            <div class="field-input"
              [ngClass]="{ 'invalid-error-box': !form.get('username').valid
              && form.get('username')?.touched}">
              <mat-form-field appearance="outline" class="w-100">
                <span matPrefix><img class="input-icon" src="../../../assets/images/email.svg"></span>
                <input matInput type="text" placeholder="Email" formControlName="username" required maxlength="100"/>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-center pt-4">
          <button mat-raised-button class="restore-button" (click)="restorePassword()">Restore Password</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div *ngIf="!isLoading && isMfaCodePage">
  <app-confirm-restore-password [data]="mfaData" [userEmail]="form.get('username').value" (resend)="restorePassword()" (back)="onBackToRestore()"></app-confirm-restore-password>
</div>
