<div class="row footer justify-content-center">
    <ul class="col-auto terms-privacy-container align-self-center">
        <li>
            <a class="link terms-privacy-link extra-small footer-link" target="_blank"
                href="https://www.benraz.com/terms-and-conditions/">Terms</a>
        </li>
        <li>
            <a class="link terms-privacy-link extra-small mr-3 footer-link" target="_blank"
                href="https://www.benraz.com/privacy-policy/">Privacy</a>
        </li>
    </ul>
</div>