<div *ngIf="data"
  class="row justify-content-center px-3 h-100 confirm-create-account-container confirm-create-page-background">
  <div class="col col-lg-6 col-xl-4 confirm-create-width">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-12 text-left text-lg-center pt-3">
          <h1 class="confirm-create-title">Create User</h1>
        </div>
        <div class="col-12 text-left pt-3">
          <h4 class="confirm-create-text">
            <a class="back-link" (click)="onBack()">
              <span>
                <img class="back-icon" src="../../assets/images/chevron.svg" alt="Back">
                Back
              </span>
            </a>
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center pt-4">
          <img class="back-icon" src="../../../assets/images/verify.svg" alt="Enter code">
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center pt-3">
          <h2 class="confirm-create-subtitle">Enter code</h2>
        </div>
        <div class="col-12 text-center pt-3">
          <p class="confirm-create-text">
            We sent your email {{data?.maskedTarget}}. Please enter the code to confirm your email.
          </p>
          <p *ngIf="!isTimerFinished" class="confirm-create-text mt-3">
            Code valid for <strong><app-count-down [time]="data?.expirationCountDown"
                (finished)="onTimerFinished()"></app-count-down></strong>
          </p>
          <button *ngIf="isTimerFinished" mat-button class="confirm-create-button mt-2" (click)="onResendCode()"
            [disabled]="isCodeDisabled">Resend code</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 confirm-create-fields">
          <app-code-check class="w-100 d-flex justify-content-center" [count]="mfaCodeLength"
            (submitButton)="codeSubmit" [disabled]="isCodeDisabled" [result]="form.get('code')"
            [resetSubject]="resetSubject"></app-code-check>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center pt-4">
          <button id="code-submit" mat-raised-button class="next-button button-spinner" (click)="onCheckCode()"
            [disabled]="!form.get('code').valid || isLoading">
            <span class="button-inner">
              Next
              <mat-spinner diameter="25" *ngIf="isLoading"></mat-spinner>
            </span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>